# =============================
# Configurações do banco
# =============================
DB_HOST=localhost
DB_NAME=sec_turismo
DB_USER=root
DB_PASSWORD=

# =============================
# App
# =============================
BASE_URL=

