<FilesMatch "\.(jpg|jpeg|png|webp|gif)$">
    Order Deny,Allow
    Allow from all
</FilesMatch>

<FilesMatch "\.php$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

AddType image/jpeg .jpg
AddType image/jpeg .jpeg
AddType image/png .png
AddType image/webp .webp
AddType image/gif .gif
